*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

input,
textarea,
select,
button {
	font: inherit;
}

button,
label {
	cursor: pointer;
}

ul[class],
ol[class] {
	list-style: none;
}
